[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
sqlalchemy = "*"
jupyter = "*"
"psycopg2-binary" = "*"
networkx = "*"
tqdm = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"
scipy = "*"
sklearn = "*"
annoy = "*"
jupyterlab = "*"
altair = "*"
titlecase = "*"
umap = "*"
umap-learn = "*"

[dev-packages]

[requires]
python_version = "3.6"
